.contentContainer{
    padding: 5rem 1rem;
    color: var(--black);
    font-family: var(--font-poppins);
    font-size: 20px;
}

.headerContent{
    /* display: inline-block; */
    margin: 2rem 0;
    border-radius: 8px;
    padding: 2rem;
    color: var(--white);
    background: var(--light-gray);
}

.headerContent > h1{
    /* display: inline-block; */
    margin-bottom: .5rem;
    font-size: 3em;
    color: var(--black-gray);
}

.contentMeta{
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    margin: 0 .5rem;
    color: var(--mid-gray);
    font-family: var(--font-kanit);
}

.contentMeta [data-role="focus"],
.contentMeta [data-role="author"]{
    color: var(--gray);
    font-family: var(--font-poppins);
    font-weight: 700;
}

.contentMeta [data-role="author-avi"]{
    height: 1.25lh;
    vertical-align: middle;
    border-radius: 50%;
    aspect-ratio: 1;
    background: black;
    margin-right: .75rem;
}

.contentMeta [data-role="author-label"]{
    color: var(--gray);
    font-size: .85em;
    font-style: italic;
}

.contentContainer > h2{
    margin: 3.5rem .75rem 1.5rem;
    /* text-align: center; */
    font-size: 2em;
    color: var(--black-gray);
}

.contentContainer > h3{
    margin: 2.5rem 1rem 1.25rem 1rem;
    /* margin-left: 1.75rem; */
    color: var(--gray);
}

.contentContainer > p{
    margin: 1rem;
    /* margin-left: 1.25rem; */
}

.contentContainer > blockquote{
    position: relative;
    margin: 2rem 1rem 2rem 1.75rem;
    padding-left: .75rem;
    font-style: italic;
}

.contentContainer > blockquote::before{
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;
    border-radius: 2px;
    width: 4px;
    background: var(--highlight-shade-col);
}

.contentContainer > ul{
    display: grid;
    grid-auto-rows: min-content;
    gap: .75rem;
    margin: 2rem 0;
    padding-left: 3rem;
    list-style: square;
}

.contentContainer strong,
.contentContainer b{
    color: var(--mid-shade-col);
}

.contentContainer a{
    color: var(--highlight-shade-col);
}