.root{
    position: fixed;
    inset: 0;
    /* padding: .5rem; */
    width: 100dvw;
    pointer-events: none;
    z-index: 1000;
}

.notificationContainer{
    position: absolute;
    bottom: 0;
    left: 50%;

    border-radius: 8px;
    padding: .5rem 1rem;
    
    width: 100%;
    max-width: 350px;
    background: var(--off-white);

    transform: translate(-50%, 100%);
    
    animation-name: rise;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 1.09, 0.53, 0.97);
    animation-timing-function: cubic-bezier(0.01, 1.09, 0.18, 0.92);
}

@keyframes rise{
    from{
        transform: translate(-50%, 100%);
    }

    to{
       transform: translate(-50%, calc(0% - 1rem));
    }
}

.notificationContainer[data-clearing="true"]{
    animation-name: clear;
    animation-duration: .25s;
    animation-timing-function: ease-in;
}

@keyframes clear{
    from{
        transform: translate(-50%, calc(0% - 1rem));
        opacity: 1;
    }

    to{
        transform: translate(-50%, calc(0% - 2rem));
        opacity: 0;
    }
}

.notificationContainer > li{
    color: var(--primary-col);
    font-weight: 600;
}

.notificationContainer > li + li{
    margin-top: .25rem;
}