.root{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    padding: 0 .5rem;
    width: 100dvw;
    z-index: 2000;
}

.contentContainer{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: .5rem 1rem;
    background: var(--white);
}

.brandName{
    color: var(--black);
    font-size: 1.75rem;
    font-weight: 600;
    font-family: var(--font-kanit);
    text-decoration: none;
}

.brandName > img{
    margin-left: .1em;
    height: .45lh;
    vertical-align: middle;
}