.main{
    width: 100dvw;
    min-height: 100dvh;

    background-image: linear-gradient(
                            to bottom,
                            var(--white) 0px,
                            /* var(--primary-col) 300px, */
                            /* var(--shade-col) 300px, */
                            var(--off-white) 600px
                        );
}