.h1{
    margin: 1em 0 .5em;
    font-size: 3em;
    /* font-family: var(--font-kanit); */
    color: var(--highlight-col);
}

.inputContainer{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    /* justify-content: center; */
    gap: .5rem;
    margin-top: 1em;
    isolation: isolate;
}

.inputContainer > input{
    position: absolute;
    inset: 0;
    color: transparent;
    background: transparent;
    /* pointer-events: none; */
    user-select: none;
}

.inputContainer > input::selection{
    background: transparent;
    color: transparent;
}

.inputContainer > input:focus ~ .psuedoInput{
    opacity: 1;
}

.psuedoInput{
    display: grid;
    place-items: center;
    border-radius: 8px;
    width: calc(1lh + .5em);
    aspect-ratio: 1;
    background: var(--dark-shade-col);
    font-size: 2em;
    font-weight: 500;
    opacity: .85;
    pointer-events: none;
    text-align: center;
}

.psuedoInput[data-focused="true"]{
    box-shadow: 0px 0px 3px var(--highlight-col);
}

.formError{
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 350px;
    background: var(--white);
}

.formError > span[data-role="title"]{
    /* padding: .25em .5em; */
    border-radius: 8px;
    background-color: var(--white);
    font-weight: 600;
    color: var(--black);
    justify-self: start;
}

.formError > span{
    /* padding: 0 .75em; */
    border-radius: 8px;
    /* background-color: var(--shade-col); */
    color: var(--black);
    font-size: .85em;
}