:root {
  /* --black: #211316;
  --white: #FFFBF0;
  --pink: #FFD6DC;
  --red: #932E2E;
  --green: #D0FF4F;
  --blue: #79BAF3; */

  /* --white: #F7F8ED; */
  /* --black: #092E1E; */
  /* --primary-col: #136139; */
  /* --shade-col: #014F35; */
  /* --highlight-col: #F7E40F;
  --highlight-shade-col: #edc315; */
  --white: #F0FFF7;
  --black: #0C0718;
  --gray: #386055;
  --black-gray: #25352d;

  --primary-col: #27317B;
  --shade-col: #1F1C5A;
  --shadier-col: #120C1D;
  
  --highlight-col: #56E39A;
  --highlight-shade-col: #34B572;


  --max-width: 1500px;
  --mid-width: 1200px;
  --channel-width: 500px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
  margin: 0;
  font-family: var(--font-sora);
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
}

main{
  overflow: hidden;
}

a{
  color: var(--highlight-col);
  text-decoration: underline;
}

input{
  outline: none;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"]{
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.maxWidth{
  max-width: var(--max-width);
}

.channelWidth{
  max-width: var(--channel-width);
}

.midWidth{
  max-width: var(--mid-width);
}

.centered{
  margin: 0 auto;
}

ul{
  list-style: none;
}

button{
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
