:root {
  /* --black: #211316;
  --white: #FFFBF0;
  --pink: #FFD6DC;
  --red: #932E2E;
  --green: #D0FF4F;
  --blue: #79BAF3; */

  /* --white: #F7F8ED; */
  /* --black: #092E1E; */
  /* --primary-col: #136139; */
  /* --shade-col: #014F35; */
  /* --highlight-col: #F7E40F;
  --highlight-shade-col: #edc315; */
  --off-white-vals: 221 235 227;
  --black-vals: 12 7 24;

  --white: #F0FFF7;
  --off-white: rgb(var(--off-white-vals));
  --black: rgb(var(--black-vals));
  --light-gray: #B0CCC2;
  --mid-gray: #6C988C;
  --gray: #386055;
  --black-gray: #25352d;

  --primary-col: #27317B;
  --shade-col: #1F1C5A;
  --mid-shade-col: #14163D;
  --dark-shade-col: #120C1D;
  
  --highlight-col: #56E39A;
  --highlight-shade-col: #34B572;

  
  --max-width: 1500px;
  --mid-width: 1200px;
  --channel-width: 500px;
  
  --dark-gradient: linear-gradient(
    to bottom,
    var(--shade-col) 0px,
    /* var(--primary-col) 300px, */
    /* var(--shade-col) 300px, */
    var(--dark-shade-col) 600px
    );
  }
  
  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
      }
      } */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
  margin: 0;
  font-family: var(--font-sora);
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
}

main{
  overflow: hidden;
}

a{
  color: var(--highlight-col);
  text-decoration: underline;
}

input{
  outline: none;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"]{
  cursor: pointer;
}

ul{
  list-style: none;
}

button{
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

.maxWidth{
  max-width: var(--max-width);
}

.channelWidth{
  max-width: var(--channel-width);
}

.midWidth{
  max-width: var(--mid-width);
}

.centered{
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;       /* prevent line breaks */
  border: 0;
  clip: rect(0 0 0 0);       /* legacy browsers */
  clip-path: inset(50%);     /* modern browsers */
}


/* a {
  color: inherit;
  text-decoration: none;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
