.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
 width: 100dvw;
 min-height: 100dvh;
 padding: 1rem;
  padding-top: 6rem;
  /* overflow: hidden; */
  background: var(--white);
}
  
.contentContainer{
  padding: 1rem;
}

.signUpNow{
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
  gap: 2rem;
  margin: 1rem auto 6rem;
  border-radius: 8px;
  padding: 1rem;
  max-width: 350px;
  background: var(--primary-col);
  background-image: linear-gradient(170deg, var(--primary-col), var(--shade-col));
  color: var(--off-white);
  box-shadow: 15px 15px 0 rgb(var(--highlight-shade-col-vals) / .8), -15px -15px 0 rgb(var(--highlight-col-vals) / .8);
}

.signUpNow > h2{
  /* color: var(--highlight-col); */
  /* text-decoration: underline; */
  font-size: 1.5em;
  /* font-weight: 700; */
}

.signUpNow > p{
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  /* color: var(--white); */
}

.signUpNow > p > span{
  font-size: 1.25em;
  font-weight: 700;
  color: var(--highlight-col);
}

.signUpNowButton {
  width: auto;
  margin-bottom: 1rem;
}

.hero{
  margin: 4rem 0;
}

.hero > h1{
  margin: .5em 0;
  font-size: 3em;
  color: var(--black-gray);
}

.hero > h2,
.blogFeature h2{
  margin: .75em 0;
  font-size: 2em;
  color: var(--gray);
}

.hero > p{
  margin: .75em 0;
  margin-top: 1em;
  /* padding-left: .5em; */
  font-size: 1.35em;
  max-width: 800px;
  color: var(--black);
}
