.contentContainer{
    display: grid;
    align-content: center;
    min-height: 100dvh;
}

.form{
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content;
    gap: 1.6rem;
    padding-top: 1rem;
}