.root{
    padding: 1rem;
    padding-bottom: 3rem;
    color: var(--off-white);
    background: var(--shade-col);
    background-image: linear-gradient(170deg, var(--shade-col), var(--dark-shade-col));
}

.root h2{
    /* text-align: center; */
    margin: 1rem 0;
}

.root ul{
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    margin: 2rem 0;
}